<div id="login">   
  <h1>Iniciar Session</h1>
  
  <form action="/" method="post">
  
    <div class="field-wrap">
      <label>
        Usuario<span class="req">*</span>
      </label>
      <input type="email"required autocomplete="off"/>
    </div>
  
    <div class="field-wrap">
      <label>
        Contraseña<span class="req">*</span>
      </label>
      <input type="password"required autocomplete="off"/>
    </div>
    
    <button class="button button-block">Ingresar</button>
  
  </form>

</div>