<div id="signup">   
  <h1>Registro</h1>
  
  <form [formGroup]="registerForm" (ngSubmit)="registrarUsuario(registerForm.value)">

    <div class="field-wrap">
      <label>
        Nombre<span class="req">*</span>
      </label>
      <input type="text" required autocomplete="off" formControlName="nombre"/>
    </div>
    
    <div class="field-wrap">
      <label>
        Apellido<span class="req">*</span>
      </label>
      <input type="text" required autocomplete="off" formControlName="apellido"/>
    </div>

    <div class="field-wrap">
      <label>
        Username<span class="req">*</span>
      </label>
      <input type="text" required autocomplete="off" formControlName="username"/>
    </div>

    <div class="field-wrap">
      <label>
        Contraseña<span class="req">*</span>
      </label>
      <input type="password"required autocomplete="off" formControlName="clave"/>
    </div>

    <div class="field-wrap">
      <label>
        Moneda<span class="req">*</span>
      </label>
      <input type="text"required autocomplete="off" formControlName="moneda"/>
    </div>
    
    <button type="submit" class="button button-block">Registrar</button>
  
  </form>

</div>