<div id="signup">   
  <h1>Registro</h1>
  
  <form action="/" method="post">

    <div class="field-wrap">
      <label>
        Nombre<span class="req">*</span>
      </label>
      <input type="email"required autocomplete="off"/>
    </div>
    
    <div class="field-wrap">
      <label>
        Apellido<span class="req">*</span>
      </label>
      <input type="password"required autocomplete="off"/>
    </div>

    <div class="field-wrap">
      <label>
        Username<span class="req">*</span>
      </label>
      <input type="password"required autocomplete="off"/>
    </div>

    <div class="field-wrap">
      <label>
        Contraseña<span class="req">*</span>
      </label>
      <input type="password"required autocomplete="off"/>
    </div>

    <div class="field-wrap">
      <label>
        Moneda<span class="req">*</span>
      </label>
      <input type="password"required autocomplete="off"/>
    </div>
    
    <button type="submit" class="button button-block">Registrar</button>
  
  </form>

</div>