.text-input-base {
  border-radius: 25px;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: .7px;
  line-height: 50px;
  min-height: 50px;
  min-width: 250px;
  outline: 0;
  padding: 0 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  white-space: nowrap;
}

.dropdown {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 25px;
  border: 1px solid $primary;
  height: 50px;
  &__read-only {
    pointer-events: none;
    background-color: #EBEBEB;
  }
}

.dropdown-trigger {
  height: 22px;
  position: relative;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  width: 90%;

  .dropdown-label {
    user-select: none;
    flex: 1;
    text-align: center;
    &__cursor {
      cursor: pointer;
    }
  }

  .placeholder {
    color: $primary;
    font-size: 20px;
  }

  &:focus {
    outline: none;

    & + .selector-drop {
      opacity: 1;
      visibility: visible;
    }
  }
}

.dropdown-trigger {
  justify-content: center;
  padding: 0 9px;

  .icon-chevron-down {
    font-size: 20px;
    color: $primary;
  }
}

.selector-drop {
  background: #FFFFFF;
  border: 1px solid $primary;
  box-shadow: 0 2px 4px 0 rgba(74, 74, 74, 0.15);
  padding: 7px 0;
  position: absolute;
  z-index: 100;
  width: 100%;
  left: 0;
  top: 55px;
  opacity: 0;
  visibility: hidden;
  transition: visibility .1s ease-in-out, opacity .1s ease-in-out;
  max-height: 200px;
  overflow: auto;

  .selector-option {
    height: 24px;
    display: flex;
    flex-direction: row;
    font-size: 12x;
    align-items: center;
    cursor: pointer;
    transition: background-color .1s linear;
    padding-left: 10px;
    padding-top: 5px;

    &:hover {
      background-color: #F4F6F8;
    }

    .option-name {
      display: block;
      width: calc(100% - 80px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 10px;
      color: #474747;
      font-weight: normal;
    }
  }
  
  .loader {
    padding: 10px;
  }
}