@import '../../../shared/styles/colors';
@import '../../../shared/styles/inputs';
@import 'https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.3.2/css/simple-line-icons.min.css';

.box-realizar-cambio {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 490px;
  margin: 0 auto;
  .column {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
  }
  .form-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    .form-title {
      h1 {
        margin: 5px;
        color: #4A4A4A;
      }
    }
    .form-subtitle {
      text-align: center;
      h3 {
        margin: 5px;
        color: #D8D8D8;
        font-weight: normal;
      }
    }
    input[type=text] {
      outline: none;
      border: none;
      text-align: center;
      font-size: 20px;
      &::placeholder {
        color: $primary;
        font-size: 20px;
      }
    }
  }

  .dropdown {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 25px;
    border: 1px solid $primary;
    height: 50px;
    &__read-only {
      pointer-events: none;
      background-color: #EBEBEB;
    }
  }

  .dropdown-trigger {
    height: 22px;
    position: relative;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    width: 90%;

    .dropdown-label {
      user-select: none;
      flex: 1;
      text-align: center;
      &__cursor {
        cursor: pointer;
      }
    }

    .placeholder {
      color: $primary;
      font-size: 20px;
    }

    &:focus {
      outline: none;

      & + .selector-drop {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .dropdown-trigger {
    justify-content: center;
    padding: 0 9px;

    .icon-chevron-down {
      font-size: 20px;
      color: $primary;
    }
  }

  .selector-drop {
    background: #FFFFFF;
    border: 1px solid $primary;
    box-shadow: 0 2px 4px 0 rgba(74, 74, 74, 0.15);
    padding: 7px 0;
    position: absolute;
    z-index: 100;
    width: 100%;
    left: 0;
    top: 55px;
    opacity: 0;
    visibility: hidden;
    transition: visibility .1s ease-in-out, opacity .1s ease-in-out;
    max-height: 200px;
    overflow: auto;

    .selector-option {
      height: 24px;
      display: flex;
      flex-direction: row;
      font-size: 12x;
      align-items: center;
      cursor: pointer;
      transition: background-color .1s linear;
      padding-left: 10px;
      padding-top: 5px;

      &:hover {
        background-color: #F4F6F8;
      }

      .option-name {
        display: block;
        width: calc(100% - 80px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 10px;
        color: #474747;
        font-weight: normal;
      }
    }
  }
}
