<section class="box-realizar-cambio">
    <form class="column">
      <div class="form-section">
        <div class="form-title">
          <h1 class="spec-title-realizar-cambio">{{'Realizar Cambio' | translate}}</h1>
        </div>
        <div class="form-subtitle">
          <h3>{{'Seleccione las monedas' | translate}}</h3>
        </div>
      </div>

      <div class="form-section">
        <div class="dropdown dropdown">
          <div class="dropdown-trigger" tabindex="2">
            <img src="../../../../assets/dollar.png" alt="USD" width="18px" height="18px">
            <input type="number" class="dropdown-label spec-valor-a-convertir" placeholder="0,00" [(ngModel)]="valorToConvertir" (blur)="convertirModena()" name="valor">
          </div>
        </div>
      </div>

      <div class="form-section before-exchange">
        <div class="dropdown spec-click-open-dropdown-origen">
          <div class="dropdown-trigger" tabindex="1">
            <span class="dropdown-label dropdown-label__cursor" [ngClass]="{ 'placeholder': !fromMonedaSeleccionada }">
              {{ fromMonedaSeleccionada ? fromMonedaSeleccionada.id_currency : 'USD' }}
            </span>
            <i class="icon-chevron-down icon icon-arrow-down"></i>
          </div>
          <div class="selector-drop" #scrollingBlockFrom>
            <virtual-scroller #scrollFrom [parentScroll]="scrollingBlockFrom"
              [items]="controlConfigDropdowns.buffer.from" (vsEnd)="fetchMore($event, 'from')">

              <div class="selector-option spec-selection-moneda-origen{{i}}" *ngFor="let moneda of scrollFrom.viewPortItems; index as i"
                 (mousedown)="selectCriptoMoneda('from', moneda)">
                <div class="option-name">{{ moneda.name }}</div>
              </div>
              <div *ngIf="loading" class="loader">Loading...</div>

            </virtual-scroller>
          </div>
        </div>
      </div>

      <div class="content-exchange">
        <img class="spec-click-invertir-monedas" (click)="relizarCambio(fromMonedaSeleccionada, toMonedaSeleccionada)" src="../../../../assets/exchange.png" alt="Cambiar Valores">
      </div>

      <div class="form-section">
        <div class="dropdown spec-click-open-dropdown-destino">
          <div class="dropdown-trigger" tabindex="2">
            <span class="dropdown-label dropdown-label__cursor" [ngClass]="{ 'placeholder': !toMonedaSeleccionada }">
              {{ toMonedaSeleccionada ? toMonedaSeleccionada.id_currency : 'USD' }}
            </span>
            <i class="icon-chevron-down icon icon-arrow-down"></i>
          </div>
          <div class="selector-drop" #scrollingBlockTo>
            <virtual-scroller #scrollTo [parentScroll]="scrollingBlockTo"
              [items]="controlConfigDropdowns.buffer.to" (vsEnd)="fetchMore($event, 'to')">

              <div class="selector-option spec-selection-moneda-destino{{i}}" *ngFor="let moneda of scrollTo.viewPortItems; index as i"
                 (mousedown)="selectCriptoMoneda('to', moneda)">
                <div class="option-name">{{ moneda.name }}</div>
              </div>
              <div *ngIf="loading" class="loader">Loading...</div>

            </virtual-scroller>
          </div>
        </div>
      </div>

      <div class="form-section spec-resultado-de-la-conversion">
        <div class="dropdown dropdown__read-only">
          <div class="dropdown-trigger" tabindex="2">
            <img src="../../../../assets/dollar.png" alt="USD" width="18px" height="18px">
            <span class="dropdown-label placeholder">{{ resultadoConversion?.toFixed(2) }}</span>
          </div>
        </div>
      </div>
    </form>
</section>
