/* You can add global styles to this file, and also import other style files */
@import './app//shared/styles/colors';
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400';

* {
  font-family: Exo,sans-serif;
}

html {
  width: 100%;
  height: 100%;
}

body {
  color: $dark;
  
  h1 {
    text-align: center;
    color: $accent;
    font-weight: 300;
  }

  h2 {
    text-align: center;
    color: $accent;
    font-weight: 300;
  }
}
.disabled {
  pointer-events: none;
}
