<section>
  <div class="card card-header">
    <div class="container">
      <p>Interior Designer</p> 
    </div>
  </div>

  <div class="card card-row">
    <div class="container">
      <p>Interior Designer</p> 
    </div>
  </div>

  <div class="card card-row">
    <div class="container">
      <p>Interior Designer</p> 
    </div>
  </div>

  <div class="card card-row">
    <div class="container">
      <p>Interior Designer</p> 
    </div>
  </div>

  <div class="card card-row">
    <div class="container">
      <p>Interior Designer</p> 
    </div>
  </div>

  <div class="card card-row">
    <div class="container">
      <p>Interior Designer</p> 
    </div>
  </div>

  <div class="card card-row">
    <div class="container">
      <p>Interior Designer</p> 
    </div>
  </div>
</section>