<section>
  <div class="card card__header">
    <div class="container">
      <div class="card-col">
        <p>Nombre</p>
      </div>
      <div class="card-col">
        <p>Precio</p>
      </div>
      <div class="card-col">
        <p>Criptomoneda</p>
      </div>
      <div class="card-col">
        <p>Convertir</p>
      </div>
    </div>
  </div>

  <div class="card card__row">
    <div class="container">
      <div class="card-col">
        <p>Nombre</p>
      </div>
      <div class="card-col">
        <p>Nombre</p>
      </div>
      <div class="card-col">
        <p>Nombre</p>
      </div>
      <div class="card-col">
        <p>Nombre</p>
      </div>
    </div>
  </div>

  <div class="card card__row">
    <div class="container">
      <div class="card-col">
        <p>Nombre</p>
      </div>
      <div class="card-col">
        <p>Nombre</p>
      </div>
      <div class="card-col">
        <p>Nombre</p>
      </div>
      <div class="card-col">
        <p>Nombre</p>
      </div>
    </div>
  </div>

  <div class="card card__row">
    <div class="container">
      <div class="card-col">
        <p>Nombre</p>
      </div>
      <div class="card-col">
        <p>Nombre</p>
      </div>
      <div class="card-col">
        <p>Nombre</p>
      </div>
      <div class="card-col">
        <p>Nombre</p>
      </div>
    </div>
  </div>

  <div class="card card__row">
    <div class="container">
      <div class="card-col">
        <p>Nombre</p>
      </div>
      <div class="card-col">
        <p>Nombre</p>
      </div>
      <div class="card-col">
        <p>Nombre</p>
      </div>
      <div class="card-col">
        <p>Nombre</p>
      </div>
    </div>
  </div>
</section>