@import '../../../shared/styles/colors';
@import '../../../shared/styles/alerts';

section {
  padding-left: 10%;
  padding-right: 10%;
  height: 100%;
}

.card {
  transition: 0.3s;
  width: 100%;

  &__header {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    height: 70px;
  }

  &__row {
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.1);
    margin-top: 20px;
  }
}

.container {
  width: 100%;
  display: flex;
  .card-col {
    align-self: center;
    &__price {
      color: $accent;
      font-weight: bold;
    }
    &__crypto {
      display: flex;
      width: 100%;
      height: 100%;
      &.si-cripto {
        color: $success;
      }
      &.no-cripto {
        color: $error;
      }
    }
    a {
      align-self: center;
      padding-right: 10px;
      cursor: pointer;
    }
    width: 25%;
    padding: 0 20px 0 20px;
  }
  .circle-indicador {
    margin-right: 5px;
    width: 15px;
    height: 15px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    &.si-cripto {
      background: $success;
    }
    &.no-cripto {
      background: $error;
    }
  }
}

.card {
  &__header {
    .card-col {
      padding-top: 10px;
    }
  }
}


.container-moneda-list {
  height: 100%;
}

.loader {
  padding: 10px;
}